
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: black;
}

body{
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/d0a0affb-1c76-4cf0-9d75-eb531f32458c/e81da519-216b-4341-b9e7-92d45398ddc3/IN-en-20221214-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-size: 1350px 650px;
    background: no-repeat;
    background-color: black;
    color: white;
}
nav{
    display:flex;
    justify-content: center;
    justify-content: space-around;
}
nav .img img{
    width:17%;
    margin-top: -20px;

}
nav .btn{
    display: flex;
    margin-top: 18px;
}
btn .eng{
    width:110px;
    height: 40px;
    background-color: black;
    color: white;
    font-size:19px;
    border:2px solid white;
    border-radius: 3px;
}
btn .eng:hover{
    background-color: transparent;
}
btn .sign:hover{
    background-color: transparent;
    border:3px solid red;
}

btn .sign{
    width:90px;
    height: 40px;
    background-color:rgb(217, 28, 28);
    color: white;
    font-size:19px;
    border-radius: 3px;
    border:none
}
btn .eng{
    margin-inline:22px;

}
.main{
    text-align: center;
}
.main h1{
    font-size: 60px;
}
.main h2{
    font-size: 34px;
}
.main p{
    font-size: 27px;
}
.input{
    display: flex;
}
.input input{
    width: 400px;
    height: 58px;
    border: none;
    font-size: 22px;
}
.input button{
    width:200px;
    height: 60px;
    background-color: rgb(221, 40, 40);
    color:white;
    font-size: 26px;
    border:none;

}
.first{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 200px;
    padding:66px;
   border-top: 4px solid gray; 
}
.first h1{
    font: size 44px;
}


.first img{
    width: 40%;
}